<?xml version="1.0" encoding="UTF-8"?>
<!--
 http-message, a Psr\Http\Message implementation

 Cpyright (c) 2019 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 Link      https://kigkonsult.se
 Package   http-message
 Version   1.0
 License   Subject matter of licence is the software http-message.
           The above copyright, link, package and version notices and
           this licence notice shall be included in all copies or
           substantial portions of the http-message.

           http-message is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as published
           by the Free Software Foundation, either version 3 of the License,
           or (at your option) any later version.

           http-message is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with http-message. If not, see <https://www.gnu.org/licenses/>.

 This file is part of http-message.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
         bootstrap="autoload.php"
        >
    <testsuites>
        <testsuite name="Stream Tests">
            <file>./test/StreamTest.php</file>
        </testsuite>
        <testsuite name="Message Tests">
            <file>./test/MessageTest.php</file>
        </testsuite>
        <testsuite name="Response Tests">
            <file>./test/ResponseTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true"
        >
            <file>./src/Message.php</file>
            <file>./src/Response.php</file>
            <file>./src/Stream.php</file>
        </whitelist>
    </filter>
  <logging>
      <!-- Remove or comment after your own choice-->
      <!-- All logs will be saved in 'testDocs' folder -->
      <log type="coverage-html"
           target="testDocs/PHPUnitCoverage"
           lowUpperBound="35"
           highLowerBound="70"/>
      <!-- log type="coverage-clover"
           target="testDocs/coverage.xml"/ -->
      <!-- log type="coverage-php"
           target="testDocs/coverage.serialized"/ -->
      <!-- log type="coverage-text"
           target="testDocs/PHPUnitReport.txt"
           showUncoveredFiles="true"/ -->
      <!-- log type="json"
           target="testDocs/logfile.json"/ -->
      <!-- log type="tap"
           target="testDocs/logfile.tap"/ -->
      <!-- log type="junit"
           target="testDocs/logfile.xml"
           logIncompleteSkipped="false"/ -->
      <!-- log type="testdox-html"
           target="testDocs/testdox.html"/ -->
      <!-- log type="testdox-text"
           target="testDocs/testdox.txt"/ -->
  </logging>
</phpunit>
